/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*template reset*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/assets/background.png);
}

.content {
  width: 96%;
  margin: 2px auto 10px auto;
  padding: 20px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

#new {
  max-width: 1000px;
}

h1 {
  background: -webkit-linear-gradient(top, rgba(71, 76, 79, 1) 0%, rgba(87, 93, 96, 1) 8%, rgba(87, 93, 96, 1) 100%);
  background: -o-linear-gradient(top, rgba(71, 76, 79, 1) 0%, rgba(87, 93, 96, 1) 8%, rgba(87, 93, 96, 1) 100%);
  background: -ms-linear-gradient(top, rgba(71, 76, 79, 1) 0%, rgba(87, 93, 96, 1) 8%, rgba(87, 93, 96, 1) 100%);
  background: -moz-linear-gradient(top, rgba(71, 76, 79, 1) 0%, rgba(87, 93, 96, 1) 8%, rgba(87, 93, 96, 1) 100%);
  background-color: #575D60;
  text-align: center;
  line-height: 50px;
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 1px 2px #575D60;
  margin-bottom: 1px;
  width: 100%;
}

.data_container {
  overflow-x: auto;
}

.error-message {
  color: red;
}

fieldset {
  border: none;
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

fieldset label {
  width: 100px;
  float: left;
  font-size: 15px;
}

fieldset p {
  margin-left: 100px;
  color: gray;
  margin-top: 5px;
}

fieldset input[type="text"] {
  width: 65%;
  padding: 5px;
  border: 1px solid #DDD;
  background: whiteSmoke;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
}

fieldset input:focus {
  border: 1px solid #ccc;
}

#candidates {
  width: 2000px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}

table th {
  font-size: 16px;
}

table th,
table td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

table th {
  border-width: 2px;
}

table td {
  color: #666;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) {
  background: #eee;
}

.actions {
  margin-top: 5px;
}

.button {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  padding: 0 20px;
  height: 28px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

a.button {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

.button:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

.button:hover {
  background-color: #76B347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76B347), color-stop(100%, #5E9E2E));
  background-image: -webkit-linear-gradient(top, #76B347, #5E9E2E);
  background-image: -moz-linear-gradient(top, #76B347, #5E9E2E);
  background-image: -ms-linear-gradient(top, #76B347, #5E9E2E);
  background-image: -o-linear-gradient(top, #76B347, #5E9E2E);
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

ol {
  width: 25%;
}

ol li {
  padding: 4px 8px;
}

ol li span {
  float: right;
  color: #bbb;
}

ol li:hover {
  background: #f0f0f0;
  border-radius: 4px;
}

.picture {
  margin-left: 20px;
  float: right;
}

.picture:hover {
  cursor: pointer;
}